



.arrow{
   
    width:1.5rem;
    height: 1.5rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #555);
    margin-bottom: 75px;
    
}

.arrow:hover{
    cursor:pointer;
}
.arrow-left{
    left: -30px;
}
.arrow-right{
    right:-30px;
}
.indicators{
    display:flex;
   
    bottom:0px;
}
.indicator{
    background-color: white;
    height:1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border: none;
    outline:none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}
.indicator-inactive{
    background-color: grey;
}
