@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
  
}
#root{
 
    margin: 0px;
    padding: 0px;
  
}

#header{
  overflow:scroll;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}